* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
}
section:after{
    content: "";
    clear: both;
    display: table;
}
h1{
    border-bottom: 2px solid black;
    padding-left: 10px;
}
.form{
    background: gray;
    width: max-content;
}
label{
    border: 2px solid black;
    width: max-content;
    padding: 5px;
    background: white;
}
input[type=text] {
    border: 2px solid blue;
    margin-left: 200px;
    padding: 5px;
    width: 200px;
}
input[type=text]:focus {
    background: rgba(0, 0, 218, 0.25);
}
input[type=date] {
    border: 2px solid blue;
    margin-left: 200px;
    padding: 5px;
    width: 200px;
}
input[type=checkbox] {
    margin: 10px;
}

input[type=submit] {
    margin-left: 15px;
    padding: 5px;
    width: 80px;
    border-radius: 25%;
    border: 2px solid black;
}
input[type=submit]:hover {
    background: rgba(0, 206, 0, 0.25);
}
input[type=reset] {
        margin-left: 15px;
        padding: 5px;
        width: 80px;
        border-radius: 25%;
        border: 2px solid black;
}
input[type=reset]:hover {
    background: rgba(255, 0, 0, 0.25);
}
select{
    border: 2px solid blue;
    margin-left: 200px;
    padding: 5px;
    width: 200px;
}
textarea{
    margin-left: 15px;
    height: 150px;
    width: 510px;
    padding: 5px 10px;
    resize: none;
}